{% extends "tag/tag_list.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    Bocabit Code
{% endblock %}

{% block header %}
    <h1 class="ui header">{{ tag.title }}</h1>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'codeapp:tag_detail' tag.id %}
        <i class="glyphicon glyphicon-console"></i> {{ tag.title }}
    {% endbreadcrumb_for %}
{% endblock %}

{% block content %}

    <div class="btn-toolbar pull-right" role="toolbar">
        <div class="btn-group">
            <button class="btn btn-danger" type="button" data-toggle="modal"
                    data-target="#myModal-38e74e5da85246b0a8a260e9254cadc3"><i class="glyphicon glyphicon-remove"></i>
                Delete
            </button>
        </div>
    </div>

    <div class="btn-toolbar code-toolbar" role="toolbar">
        <div class="btn-group">
            <a href="{% url "codeapp:tag_update" tag.id %}" class="btn btn-default"><span
                    class="glyphicon glyphicon-edit"></span> Edit Tag</a>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">

            {% if tag.codes %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th>Snippets</th>
                            <th>Projects</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for code in tag.codes.all %}
                            <tr>
                                <td>{% if code.is_private %}
                                    <span class="label label-danger">Private</span>
                                {% else %}
                                    <span class="label label-danger">Public</span>
                                {% endif %}
                                </td>
                                <td>
                                    <a class="btn-link" href="{% url 'codeapp:code_detail' code.id %}"
                                       title="{{ code.title }}">{{ code.title }}</a>
                                </td>
                                <td>{{ code.description }}
                                    {% if code.tags.all %}
                                        <br>
                                        <em>Tags:
                                            {% for tag in code.tags.all %}

                                                <a href="{% url "codeapp:tag_detail" tag.id %}"
                                                   title="{{ tag.title }}">{{ tag.title }}</a>

                                            {% endfor %}
                                        </em>
                                    {% endif %}
                                </td>
                                <td>{{ code.snippets.count }}</td>
                                <td>
                                    <a href="/app/workmate/workspaces/a66f0b6d5a5a4994bf97a674e5502a1c/"
                                       title="espacio 1">espacio
                                        1</a>
                                </td>
                                <td>
                                    <button class="btn btn-link delete-btn" type="button" data-toggle="modal"
                                            data-target="#myModal-38e74e5da85246b0a8a260e9254cadc3" title="Borrar Goal">
                                        <i
                                                class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

                {#                {% if is_paginated %}#}
                {#                    <ul class="pagination">#}
                {#                        {% if page_obj.has_previous %}#}
                {#                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>#}
                {#                        {% else %}#}
                {#                            <li class="disabled"><span>&laquo;</span></li>#}
                {#                        {% endif %}#}
                {#                        {% for i in paginator.page_range %}#}
                {#                            {% if page_obj.number == i %}#}
                {#                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
                {#                            {% else %}#}
                {#                                <li><a href="?page={{ i }}">{{ i }}</a></li>#}
                {#                            {% endif %}#}
                {#                        {% endfor %}#}
                {#                        {% if page_obj.has_next %}#}
                {#                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>#}
                {#                        {% else %}#}
                {#                            <li class="disabled"><span>&raquo;</span></li>#}
                {#                        {% endif %}#}
                {#                    </ul>#}
                {#                {% endif %}#}

            {% else %}
                <p>No code yet.</p>
            {% endif %}

        </div>
    </div>


{% endblock %}