{% url 'codeapp:index' as index %}

<header class="navbar navbar-expand navbar-dark bg-primary flex-column flex-md-row bd-navbar">
    <a href="{% url 'codeapp:index' %}"
       class="navbar-brand mr-0 mr-md-2">
        <i class="briefcase icon"></i> Bocabit Code
    </a>

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item {% ifequal request.path index %}active{% endifequal %}">
                <a class="nav-link " href="{% url 'codeapp:index' %}">Home</a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        {% if user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:profile' %}">
                    <img class="rounded-circle w-25 p-0" src="{{ user.avatar }}">
                    <span>{{ user.username }}</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link p-2" href="{% url 'logout' %}?next={{ request.path }}">
                    Logout
                </a>
            </li>
        {% endif %}
    </ul>
</header>