{% extends "code/code_detail.html" %}
{% load assets %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    Create Code
{% endblock %}

{% block header %}
    <h1 class="ui header">Add Snippet</h1>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for "codeapp:snippet_create" %}
        <i class="glyphicon glyphicon-plus"></i> Create New
    {% endbreadcrumb_for %}
{% endblock %}

{% block content %}
    This is the create page
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add"/>
    </form>

    <pre id="editor">function foo(items) {
    var i;
    for (i = 0; i &lt; items.length; i++) {
        alert("Ace Rocks " + items[i]);
    }
}</pre>


{% endblock %}

{% block extra_javascript %}

    <script type="text/javascript" src="/static/codeapp/libs/js/ace-noconflict/ace.js"></script>

    {% assets "js_snippet_form" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}