{% extends "snippet/snippet_detail.html" %}
{% load assets %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    Create Code
{% endblock %}

{% block header %}
    <h1 class="ui header">Update Snippet</h1>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for "codeapp:snippet_update" code.id snippet.id %}
        <i class="glyphicon glyphicon-edit"></i> Update {{ snippet.title }}
    {% endbreadcrumb_for %}
{% endblock %}

{% block content %}
    This is the create page
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update"/>
    </form>

    <pre id="editor"></pre>


{% endblock %}

{% block extra_javascript %}

    <script type="text/javascript" src="/static/codeapp/libs/js/ace-noconflict/ace.js"></script>

    {% assets "js_snippet_form" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}