<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load assets %}
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% assets "css_all2" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
</head>
<body>
<div class="wrapper">
    <!-- Page Content Holder -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>


{#<div class="container-fluid">#}
{#    {% block content %}{% endblock %}#}
{#</div>#}
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets "js_all2" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block extra_javascript %}{% endblock %}
</body>
</html>